// Definicion
// Variables globales

/* Colores primarios */
$primary: #730039;
$primary-light: hsla(330, 100%, 23%, 0.55);
$primary-dark: hsla(330, 100%, 23%, 0.85);
/* Colores secundarios */
$secondary: #ffc513; 
$secondary-light: hsla(45, 100%, 54%, 0.55);
$secondary-dark: rgba(255, 196, 19, 0.85);
/* Colores terciarios */
$tertiary: #ff724c;
$tertiary-light: hsla(13, 100%, 65%, 0.55);
$tertiary-dark: rgba(255, 115, 76, 0.85);
/* Colores cuaternarios */
$quaternary: #f6eedf;
$quaternary-light: hsla(39, 56%, 92%, 0.55);
$quaternary-dark: hsla(39, 56%, 92%, 0.85);