// Definicion
// Variables globales

/*** Colores ***/
$colors: (
    dark: #262626,
    black: #000,
    primary: #d3ab55,
    secondary: #bbb,
    white: #fff,
);

/*** Fuente ***/
$sizes: (
    xl: 2.5rem,
    lg: 2rem,
    md: 1.8rem,
    sm: 1.4rem,
    xs: 1.2rem
);