/*== Body ==*/
body {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr [center-start] repeat(10, minmax(min-content, 11rem)) [center-end] 1fr;
    grid-template-rows: 100vh repeat(9, min-content);
    
    width: 100vw;

    line-height: 1.8;
    font-family: 'Titillium Web';
    font-size: 2rem;
    
    background-color: color(quaternary);

    a {
        z-index: 1;
        position: relative;
    
        border-radius: 0.30rem;
        padding: 1rem 2rem;
        
        color: color(quaternary);
        text-decoration: none;
        font-size: size(sm);
    
        transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    }

    p {
        color: color(primary-text);
        font-size: size(lg);
        font-weight: 400;
    }

    li {
        list-style: none;
        margin-bottom: 3.5rem;
    }
}