/*== Eventos section ==*/ 
.eventos {
    @include wide-section(color(tertiary), left);

    $images: (
        1: '../images/Events/beach-party.jpg',
        2: '../images/Events/culture-discovery.jpg'
    );

    @for $i from 1 to 3 {
        &--item:nth-of-type(#{$i}) {
            border-right: solid 0.2rem color(tertiary);
            background: inkImage(map-get($images, $i), color(tertiary-light), color(tertiary-light));
            background-size: cover;
            background-position: center;
        }
    }
}