/*== Footer section ==*/ 
.footer {
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    place-items: center;

    padding: 4vh 2vw;

    color: color(primary-text);
    background-color: color(primary);

    p {
        font-size: size(md);
    }

    &__div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;

        a {
            margin-right: 1rem;
            border-radius: 4rem;
            background-color: color(secondary);
            animation: networks 3s linear infinite;

            &--link i {
                font-size: 2rem;
                color: color(primary);
            }
        }
    }
}