/*== Galleries section ==*/ 
.galleries {    
    @include wide-section(color(primary), right);
    height: 90vh;

    overflow-x: hidden;

    &--media {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        overflow: hidden;
        height: 100%;

        img {
            overflow: hidden;
            height: 100%;
        }
    }
}