/*=== Sites section ===*/
.villas {
    grid-column: 1 / -1;
    
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(6, 50vw);
    grid-template-columns: 1fr;

    &__item {
        padding: 2rem;
        transition: transform 0.3s ease-in-out;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto min-content;

        &:hover,
        &:active {
            transform: scale(1.05);
        }

        h2 {            
            color: color(primary-text);
            font-size: size(xl);
            font-weight: 400;
            text-transform: uppercase;
        }

        p {
            color: color(primary-text);
            font-size: 2rem;
            font-weight: 400;
            overflow-y: hidden;
        }

        div {
            display: grid;
            align-items: end;
            justify-content: start;
        }

        a {
            z-index: 2;
            overflow: hidden;

            margin: 0 auto 2rem auto;
            display: inline-block;
            
            color: color(primary);
            background-color: color(primary-text);

            &:hover,
            &:active {
                color: color(primary-text);

                &::before {
                    height: 400%;
                }
            }

            &::before {
                content: " ";
                z-index: -1;

                position: absolute;
                top: 50%;
                left: 50%;
                
                width: 100%;
                height: 0%;
                
                background-color: color(secondary);
                transition: height 0.3s ease-in-out;
            }
        }

        a::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        @for $i from 1 to 7 {
            &:nth-of-type(#{$i}) {
                background: inkImage('assets/images/Villas/villa-#{$i}.jpg', color(primary-light), color(tertiary-light));
                background-position: center;
                background-size: cover;
            }
        }
    }
}