/*=== Booking informacion Section ===*/
section#booking--informacion {
    @include grid-section-size(5, 1, 2, 2);
    @include grid-container(2vh);
    grid-template-rows: repeat(3, max-content);
    padding: 8vh 3vw;

    h2 {        
        position: relative;
        font-size: $size-xlarge;
        padding: 0 $size-min calc($size-min/2);
        font-weight: 300;

        &::after {
            position: absolute;
            bottom: 0;
            left: 15%;
            width: 30%;
            height: 0.2rem;
            content: " ";
            background-color: $secondary;
        }
    }

    p {
        color: $primary;
        padding: $size-min;
        font-size: $size-big;
    }

    div {
        @include grid-container;
        grid-template-columns: repeat(2, 1fr);
        
        a {
            @include grid-section-size(1, 1);
            @include grid-container;
            grid-template-rows: 8vh;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            align-items: center;

            padding-right: 0;

            color: black;
            font-size: $size-big;
            
            i {
                font-size: $size-large;
                color: $secondary;
            }
        }
    }
}

/*=== Booking reserva Section ===*/
section#booking-reserve {
    @include grid-section-size(5, 1, 7, 2);
    @include grid-container(2vh);
    grid-template-rows: repeat(2, 1fr);
    padding: 8vh 3vw;

    .booking-reserve__date {
        @include grid-container;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        column-gap: 2vh;

        div {
            @include grid-container;
            row-gap: 3vh;

            h5 {
                text-align: center;
                font-size: $size-big;
            }

            p {
                @include grid-container;
                grid-template-rows: repeat(3, 1fr);
                place-items: center;
                position: relative;
                padding: $size-min calc($size-min * 2);
                background-color: $secondary;

                &::before {
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    content: "";
                    border: 1.5rem solid;
                    border-color: transparent transparent $secondary transparent;
                    margin-left: -1.5rem;
                }

                span {
                    font-size: $size-big;
                    font-weight: 300;
                }

                span:nth-of-type(2) {
                    font-size: $size-min*1.5;
                    font-weight: 700;
                }
            }
        }
    }

    .booking-reserve__details {
        align-self: end;

        a {
            color: $primary-text;
            background-color: $secondary;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:active {
                border: 0.1rem solid $secondary;
                color: $secondary;
                background-color: $primary-text;
            }
        }

        p {
            color: $primary;
            font-size: 2rem;
            &:first-of-type { margin-top: 4rem; }
        }
    }
}