/*== Eventos section ==*/ 
section#eventos {
    @include wide-section($tertiary);
    grid-template-columns: repeat(2, 45%) auto;

    $images: (
        1: 'assets/images/Events/beach-party.jpg',
        2: 'assets/images/Events/culture-discovery.jpg'
    );

    @for $i from 1 to 3 {
        .item:nth-of-type(#{$i}) {
            border-right: solid 0.2rem $tertiary;
            background: inkImage(map-get($images, $i), $tertiary-light, $tertiary-light);
            background-size: cover;
            background-position: center;
        }
    }

    .title h2 {
        transform: rotate(0.25turn);
    }
}