/*== Galleries section ==*/ 
section#galleries {    
    @include wide-section($primary);
    @include grid-section-size(11, 1, 2);
    grid-template-columns: auto 90%;

    height: 90vh;

    .media {
        @include grid-section-size(1, 1, 2);
        border: solid 0.2rem $secondary;
    }

    .title {
        @include grid-section-size(1, 1);

        * {
            transform: rotate(-0.25turn);
        }
    }
}