/*=== Headers (Menu) ===*/
header#header {
    @include grid-section-size(12);

    height: 100vh;

    background: inkImage('assets/images/hero.jpg', $primary-light, $primary-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Header Content */
    #header__content {
        display: grid;
        grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
        grid-template-rows: min-content;
        justify-items: center;
        height: 90%;

        /* Header logo */
        .header__content--logo {
            grid-column: 2/3;
        }

        /* Header presentation */
        .header__content--presentation {
            grid-column: 1/-1;
            align-self: center;

            & > h1 {
                padding: 0 $size-min 0 $size-xlarge;
                text-transform: uppercase;
                color: $primary-text;
                font-size: $size-xxlarge;
                font-weight: 400;
            }

            & > p {
                padding: 3vh $size-min 5vh $size-xlarge;
                font-weight: 500;
                font-size: $size-large;
            }

            & > a {
                margin-left: $size-large;
                border: 0.2rem solid $tertiary-light;
                border-radius: 5px;

                &::before {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $tertiary;
                    transform: scaleX(0);
                    transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
                }

                &:hover::before,
                &:active::before { 
                    transform: scaleX(1);
                }
            }
        }
    }

    /* Header nav */
    nav#header__nav {
        position: fixed;

        /* Hamburger menu */
        .header__nav--hamburger {
            width: 5rem;
            height: 5rem;
            position: fixed;
            top: 2rem;
            left: 3rem;
            cursor: pointer;
            background-color: $secondary;
            padding: 1rem;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            animation-name: menu-show;
            animation-duration: 2s;

            .line {
                width: 100%;
                height: 0.3rem;
                background-color: $primary-text;
                border-radius: 0.2rem;
                transition: all 0.4s ease-in-out;
            }

            .line-1,
            .line-3 {width: 60%;}
            .line-3 {margin-left: auto;}

            
        }

        &.clicked {
            .line-1,
            .line-3 {
                margin: 0;
                width: 100%;
            }

            .line-1 {
                transform: rotateZ(-405deg) translate(-1rem, 0.6rem);
            }

            .line-2 {
                opacity: 0;
            }

            .line-3 {
                transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
            }

            ul.header__nav--links {
                display: flex;
            }
        }

        /* Menu */
        ul.header__nav--links {       
            width: 100vw;
            height: 100vh;
            background-color: $secondary-light;
        
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
                margin: 0;
                margin-bottom: 4vh;
    
                opacity: 0;
                &.fade { opacity: 1; }

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        transition: all 0.5s ease-in-out #{$i * 0.2}s;
                    }
                }

                a {
                    position: relative;
                    padding: 0.2rem 0.6rem;
    
                    text-decoration: none;
                    color: $primary-text;
                    font-size: calc(1rem + 0.66667vw);

                    &:link::before,
                    &:visited::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 100%;
                        height: 0.25rem;
                        
                        transform: scaleX(0);
                        transform-origin: left;                        
                        transition: transform 0.6s ease-in-out;

                        background-color: $primary-text;
                    }

                    &:link::before,
                    &:visited::before {
                        bottom: 0;
                        transform-origin: right;
                    }
                    
                    &:hover::before,
                    &:hover::after,
                    &:active::before,
                    &:active::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}