/*== Testimonials section ==*/ 
section#testimonials {
    grid-column: center-start / center-end;
    padding: 8vh 3vw;
    @include grid-container(5rem);
    grid-template-columns: repeat(auto-fit, 28rem);
    place-content: center;

    .testimonials__div {
        width: 28rem;
        height: 50rem;
        position: relative;

        div {
            @include grid-container;
            justify-items: center;
            align-items: start;
            position: absolute;
            top: 0;
            left: 0;
            padding: 3rem;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            backface-visibility: hidden;
            transition: all 1s ease-in-out;
            transform: perspective(100rem);

            &.testimonials__div--img h2 {
                border-bottom-right-radius: 15%;
                border-bottom-left-radius: 15%;
                padding: 1rem;
                background-color: $secondary-light;
            }

            &.testimonials__div--text {
                transform: perspective(100rem) rotateY(0.5turn);
                background-color: $secondary;

                p {
                    place-self: center;
                    font-size: $size-min;
                    font-weight: 400;
                }
            }
        }

        &:hover {
            .testimonials__div--img { transform: perspective(100rem) rotateY(0.5turn); }
            .testimonials__div--text { transform: perspective(100rem) rotateY(1turn); }
        }
    }
    
    @for $i from 1 to 7 {
        .testimonials__div:nth-of-type(#{$i}) .testimonials__div--img {
            background-image: url('assets/images/Testimonials/testimonials-#{$i}.jpg');
        }
    }
}