.offset { overflow: hidden; margin: 20px 0 40px 20px; }
        
.offset div {
    background-color: #eee;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
}

.examplelabelboxshadow {
    color: #888;
    font-size: 20px;
    position: relative;
    top: 20px;
}

.exampleboxshadowa {
    margin-left: 4px;
    box-shadow: -4px -4px grey;
}
.exampleboxshadowb {
    margin-left: 4px;
    box-shadow: -4px -4px 6px grey;
}
.exampleboxshadowc {
    margin-left: 4px;
    box-shadow: -4px -4px 0 4px grey;
}
.exampleboxshadowd {
    margin-left: 4px;
    box-shadow: -4px -4px 4px 4px grey;
}
.exampleboxshadowe {
    margin-left: 2px;
    margin-bottom: 2px;
    box-shadow: -1px -1px 3px 2px grey;
}
.exampleboxshadowf {
    margin-left: 4px;
    margin-bottom: 4px;
    box-shadow: -1px -1px 3px 4px grey;
}

.exampleboxshadowg {
    margin-left: 4px;
    box-shadow: inset -4px -4px grey;
}
.exampleboxshadowh {
    margin-left: 4px;
    box-shadow: inset -4px -4px 6px grey;
}
.exampleboxshadowi {
    margin-left: 4px;
    box-shadow: inset -4px -4px 0 4px grey;
}
.exampleboxshadowj {
    margin-left: 4px;
    box-shadow: inset -4px -4px 4px 4px grey;
}
.exampleboxshadowk {
    margin-left: 2px;
    margin-bottom: 2px;
    box-shadow: inset -1px -1px 3px 2px grey;
}
.exampleboxshadowl {
    margin-left: 4px;
    margin-bottom: 4px;
    box-shadow: inset -1px -1px 3px 4px grey;
}