/*** Mixins ***/
@mixin grid-container($gap: 0) {
    display: grid;
    row-gap: $gap;
    column-gap: $gap;
}

@mixin grid-section-size($num-columns: 1, $num-rows: 1, $start-column: -1, $start-row: -1) {
    @if $start-row == -1 {
        grid-row: span $num-rows;
    } @else {
        grid-row: $start-row / span $num-rows;
    }

    @if $start-column == -1 {
        grid-column: span $num-columns;    
    } @else {
        grid-column: $start-column / span $num-columns;    
    }
}

@mixin wide-section($backgroundColor) {
    @include grid-section-size(11);
    @include grid-container;
    grid-template-rows: 1fr;

    .item {
        @include grid-container;
        grid-template-rows: min-content auto;
        grid-row-gap: 4vh;
        align-items: center;
        justify-items: start;
        padding: 8vh 3vw;

        h2 {
            color: $primary-text;
            font-size: $size-xlarge;
            font-weight: 400;
        }

        p {
            color: $primary-text;
            font-size: $size-big;
            font-weight: 500;
        }
    }

    .media,
    .media * {
        height: 100%;
        overflow: hidden;
    }

    .title {
        @include grid-section-size(1, 1, 3);
        @include grid-container;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        place-items: center;
        background-color: $backgroundColor;

        * {
            color: $primary-text;
            font-size: $size-xlarge;
            font-weight: 500;
        }
    }
}