:root {
    --primary-color: gainsboro;
    --secondary-color: white;
    --primary-text-color: black;
    --secondary-text-color: white;
    --nav-color: var(--primary-text-color);
    --nav-background: var(--primary-color);
    --nav-hover-color: var(--secondary-text-color);
    --nav-hover-background: gray;
    --nav-active-color: var(--secondary-text-color);
    --nav-active-background: rgb(46, 46, 46);

    --aside-width: 300px;
}

h1 { 
    font-size: 20pt; 
    margin: 0;
}
body { 
    margin: 0;
}
body > header > h1 { margin: 20px 0 0 10px; }

nav {
    background-color: var(--nav-background);
    border-bottom: 10px solid var(--nav-active-background);
}

nav ul { 
    margin: 0;
    padding: 0;
}
nav > ul { padding-inline-start: 10px; }
nav ul > li { display: inline-block; }

nav li > a {
    display: block;
    padding: 15px;

    color: var(--nav-color);
    text-decoration: none;
}

nav li:hover, nav li:hover > ul  {
    background-color: var(--nav-hover-background);
}

nav li:hover a {
    color: var(--nav-hover-color);
}

nav li:hover > ul, li:hover > ul > li {
    display: block;
}

nav li:active, nav li.current,
nav li:hover > ul > li:hover {
    background-color: var(--nav-active-background);
}

nav li:active, nav li.current,
nav li:active > a, nav li.current > a {
    color: var(--secondary-text-color);
}

nav li > ul {
    display: none;
    position: absolute;
}

body > main, .receta {
    overflow: hidden;
}

body > main > aside { 
    width: var(--aside-width);
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

body > main > article {
    width: calc(100% - (var(--aside-width) + 1));
    box-sizing: border-box;
    border-left: 10px solid var(--nav-active-background);
    margin-left: var(--aside-width);
}

.receta {
    margin-left: auto;
}

.receta > * {
    padding: 0 50px;
}

.receta > header {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
}

.receta .main-image {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.receta .main-image img {
    width: 100%;
}

.receta .ingredientes {
    float: right;
}

body > footer {
    box-sizing: border-box;
    margin: auto;
    border-top: 10px solid var(--nav-active-background);
    padding: 0 20px;
    width: 100%;
    background-color: var(--primary-color);
    
}
body > footer h3 {
    margin: 0;
}

body > footer > * {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

    padding: 15px;
    margin: auto;
    width: 33%;
}

body > footer ul {
    padding-left: 20px;
}