/*=== Booking informacion Section ===*/
.booking--informacion {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    display: grid;
    grid-gap: 2vh;
    grid-template-rows: repeat(3, max-content);
    padding: 4vh 3vw;

    h2 {        
        position: relative;
        padding: 0 2rem 1rem;
        font-size: size(xl);
        font-weight: 300;

        text-align: center;

        &::after {
            content: " ";
            position: absolute;
            left: 35%;
            bottom: 0;
            width: 20%;
            height: 0.2rem;
            background-color: color(secondary);
        }
    }

    p {
        color: color(primary);
        padding: 2rem;
        font-size: size(md);
    }

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        a {
            display: grid;
            grid-template-rows: 8vh;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            align-items: center;

            padding-right: 0;

            color: darken(color(primary-text), 100%);
            font-size: size(md);
            
            i {
                font-size: size(lg);
                color: color(secondary);
            }
        }
    }
}
